NUXT_SESSION_PASSWORD=

NUXT_APP_URL=

NUXT_RESEND_API_KEY=
NUXT_EMAIL_FROM=
NUXT_TO_EMAIL=

NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=

NUXT_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET=

NUXT_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/wallflow

REDIS_URL=redis://redis:6379

NUXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NUXT_CLOUDINARY_API_KEY=
NUXT_CLOUDINARY_API_SECRET=

NUXT_YOOKASSA_SHOP_ID=
NUXT_YOOKASSA_SECRET_KEY=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=wallflow
